@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&display=swap');
$color-vivos: #63d297;
$color-fondo: #202729;
$color-principal: #4ba173;

$fuente-uno: 'Baloo Tammudu 2', cursive;
$fuente-secundario: 'Nunito', sans-serif;