@import '../../styles/variables.scss';

.lineaverde{
    height: 4px;
    width: 40%;
    background-color: $color-vivos;
}

.acercadelcurso{
    h1{
        font-family: $fuente-secundario;
        color: $color-fondo;
        font-size: 2.5rem;
    }
    p{
        font-family: $fuente-uno;
        color: $color-fondo;
        font-size: 1.3rem; 
    }
    i{
        color: $color-principal;
        font-size: 1.3rem; 
        margin-right: 1rem;
        width: 1.4rem;
        text-align: center;
    }
    span{
        font-family: $fuente-uno;
        color: $color-fondo;
        font-size: 1.2rem; 
    }
}

.btnIncription{
    background-color: $color-vivos;
    font-family: $fuente-secundario;
    text-decoration: none;
    font-size: 1.6rem;
    color: #fff;
    padding: 0.4rem 2.5rem;
    border-radius: 5px;
    transition: 200ms 10ms ease-out;
    &:hover{
        color: #fff;
        background-color: $color-principal;
        transition: 200ms 10ms ease-in;
    }
}

.herodesing{
    position: relative;
    .contenido{
        position: absolute;
        text-align: center;
        top: 30%;
        h1{
            background-color: $color-fondo;
            color: $color-vivos;
            font-family: $fuente-secundario;
            font-size: 3rem;
        }
        p{
            color: rgb(247, 255, 250);
            font-size: 1.5rem;
            font-family: $fuente-uno
        }
    }
}
.fondods{
    background-color: $color-fondo;
    background-image: url("https://images.unsplash.com/photo-1587620962725-abab7fe55159?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1489&q=80");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 95vh;
    filter: grayscale(0.9) blur(3px)
}

.icontexts{
    // background-color: $color-fondo;
    padding: 0.5rem;
    span{
        margin-left: .5rem;
        color: #fff
    }
    i{
        color: $color-vivos
    }
}

.temario{
    font-family: $fuente-secundario;
    color: $color-fondo;
    font-size: 2.5rem;
}

.temariodesc{
    div{
        p{
            font-family: $fuente-uno;
            color: $color-fondo;
            font-size: 1.3rem; 
        }
    }
}

.horarios{
    p{
        font-family: $fuente-uno;
        color: $color-fondo;
        font-size: 1.3rem; 
    }
}
