@import '../../styles/variables.scss';

.online{
    background-color: $color-fondo;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: max-content;
    padding: 0.2rem;
    .clases{
        font-size: 0.7rem;
        font-family: $fuente-alternativa;
    }
    .punto-rojo{
        height: 0.7rem;
        width: 0.7rem;
        background-color: rgb(233, 0, 0);
        border-radius: 100%;
        margin-right: 0.3rem;
    }
}
.carta-curso{
    div h2{
        font-family: $fuente-secundario;
        font-size: 2.5rem;
    }
}

