@import '../../styles/variables.scss';

.pheader{
    color: #000 !important; 
    font-family: $fuente-alternativa;
    margin: 0 !important;
    font-size: 1.5rem;
}

.accordion-item{
    background-color: #fff !important;
    border: 0;
    border-bottom: 0.3rem solid $color-principal;
    h2{
        background-color: #fff !important;
    }
}
.accordion-button{
    background-color: #fff !important;
}
.accordion-button:focus{
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}
.h2faq{
    font-family: $fuente-secundario;
    font-size: 4rem;
    color: $color-fondo;
}

.accordion-header{
    border-bottom: 0;
}