@import '../../styles/variables.scss';

.about-h1{
    font-size: 3rem;
    font-family: $fuente-secundario;
    span{
        color: $color-vivos;
    }
}
.about-p{
    font-family: $fuente-uno;
    font-size: 1rem;
}
.tipeo{
    font-family: $fuente-uno;
    font-size: 2rem;
    color: $color-vivos;
}