@import '../../styles/variables.scss';

.navbar{
    background-color: $color-fondo;
}

.logo{
    a{
        color: $color-vivos;
        font-size: 2rem;
        opacity: 0.9;
        font-family: $fuente-secundario;
    }
    text-decoration: none;
    transition: 150ms ease-out;
    &:hover{
        a{
            color: $color-vivos;
            opacity: 1;
        }
        transform: scale(1.2);
        transition: 150ms ease-in;
    }
}

.lista{
    font-family: $fuente-secundario;
    a{
        color: #fff !important;
    }
}

.lista-items{
    .lineanav{
        height: 4px;
        width: 0%;
        background-color: $color-vivos;
        transition: 200ms 10ms ease-out;
    }
    &:hover{
        .lineanav{
            width: 100%;
            transition: 150ms 10ms ease-in;
        }
    }
}



